
.table-button{
  margin-left: auto !important;
  margin-right: auto !important;
}

#refresh-btn {
  margin-right: 1.5rem;
  float:right;
  color: gray !important;
}

.modal-content{
  max-width: 400px;
}

th {
  margin: 10px;
  background: white;
  position: sticky;
  top: 0; 
  z-index: 1;
}

tr:hover {
  background-color: #f1f1f1af !important;
}

.app-icon{
  border-radius: 5px;
  border: 0px #c1c1c1 solid;
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}